.App {
	/* text-align: center; */
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

body {
	/* background-color: lightgrey; */
}

.container {
	/* background-color: white; */
}
.centerAlign {
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.centered {
	position: relative;
	left: auto;
	right: auto;
}
.rightAlign {
	text-align: right;
	font-weight: bold;
	width: 25%;
	word-wrap: break-word;
}

.table-width {
	max-width: 150px;
	word-wrap: break-word;
}
